#GameOptionsContainer
{
	width: 200px;
	height: 250px;
	position: 300px 10px 0px;
	background-color: #000000f0;
	flow-children: down;
	border-radius: 10px;
	visibility: collapse;
}

.GameOptionsLabel
{
	color: #ffffffff;
	margin-top: 10px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 24;
	font-weight: bold;
}

.GameOptionsButton
{
	width: 60%;
	height: 40px;
	margin-top: 10px;
	horizontal-align: center;
	flow-children: right;
	border-radius: 8px;
	background-color: #ffffffb0;
}

.GameOptionsButton:hover
{
	pre-transform-scale2d: 1.05;
}

#125Button:hover
{
	background-color: #d0ffd0b0;
}

#150Button:hover
{
	background-color: #ffffa0b0;
}

#200Button:hover
{
	background-color: #ffb0b0b0;
}

.ButtonLabel
{
	color: #000000ff;
	horizontal-align: center;
	vertical-align: center;
	font-size: 20;
	font-weight: bold;
}